* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: pink;
}

h1 {
  background-color: lightcoral;
  color: whitesmoke;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: black;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#computer-score,
#draw-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  margin-top: 5rem;
  background-color: lightcoral;
  color: whitesmoke;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 0.5rem;
}
